<aside>
	<div class="panel radius">
		<h3>Research at MSME </h3>
		<p align="justify">Having the motto of “Atoms to Applications”, over the years, MSME family through its faculty, staff and researchers has spread its wings in all aspects of Materials and Metallurgy. In research, equipped with several state-of-the-art instruments, the MSME is standing firm on the three main pillars of Structural Materials, Functional Materials and Computational Materials, with it offshoots spread towards Nanoscience and Nanotechnology, Sustainable Metallurgy, Healthcare Materials, Materials Processing, Advanced Materials Characterization, Energy Materials, Electrochemical Materials Engineering, Advanced Alloys and Composites and so on.</p>
	</div>

  <!-- <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt=""> -->


	<!-- <div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside> -->