---
layout: page-fullwidth
<!-- title: Materials Science & Metallurgical Engineering -->
header:
    title: MATERIALS SCIENCE & METALLURGICAL ENGINEERING
    image_fullwidth: msmeb2.jpg
permalink: index.html


#   <!-- image_fullwidth: header-bus.jpg -->
# <!-- slider:
  # - /images/msme.jpg
  # - /images/msme_1.jpg
  # - /images/car_PPB.jpg -->

---


<!-- Add images to <div class="fotorama"></div> -->

<!-- jQuery 1.8 or later, 33 KB -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Fotorama from CDNJS, 19 KB -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> 


<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/fotorama.css">


<div class="fotorama">
  
  <img src="/web/images/gallery/car_PPB.png">
  <!-- <img src="/web/images/gallery/Rolling_PhD_Admissions_2023.jpg"> -->
  <img src="/web/images/gallery/car_SRD.png">
  <img src="/web/images/gallery/car_RR.png">
  <img src="/web/images/gallery/car_BBP.png">
  <img src="/web/images/gallery/car_ASD.png">
  <img src="/web/images/gallery/car_SB.png">
  <img src="/web/images/gallery/car_MK.png">
  <img src="/web/images/gallery/car_SC.png">
  <img src="/web/images/gallery/car_SDG.png">
  <img src="/web/images/gallery/car_CM.png">
  <img src="/web/images/gallery/car_MV.png">
  <img src="/web/images/gallery/car_AK.png">
</div>




<article>
       <div class="row">
      <div class="large-8 columns">
        <!-- <div class="col-md-12 newsTalk"> -->
          
            <h2 style="text-align: center;">About the department</h2>
            <h4 class="text-justify">The teaching and research philosophy of the department is to impart the students with the understanding of the interplay between major aspects of materials science, namely, composition, structure, processing, characterization and properties and equip them to develop innovative technologies based on sound fundamental principles. The department offers course work covering broad fields of materials science and metallurgical engineering from fundamentals to advanced and emerging areas such as nanomaterials, biomaterials, energy materials, electron microscopy, thermomechanical processing, thin films and devices, to name a few, which impart strong foundation on several major aspects of materials science and Metallurgical engineering and enhance the state of the knowledge of the students.
          </h4>
      </div>
          
      <div class="large-4 columns">
          <h2 style="text-align: center;">Announcements</h2>
          {% for post in site.data.latest_announcement %}
          <p style="color:brown;"><a href="{{ post.url }}">{{ post.name }}</a></p>
          {% if forloop.index == 1 %}
          {% break %}
          {% endif %}
        {% endfor  %}
     


        <hr>          

        <h2 style="text-align: center;">Latest News</h2>
        {% for post in site.data.latest_news %}
        <p style="color:brown;">{{ post.name }}</a></p>
        {% if forloop.index == 3 %}
        {% break %}
        {% endif %}
      {% endfor  %}
      </div>
<!--       
        <ul>
          <li>
            <div class="right_text"><a href="" target="_blank">Dr. Anuj Goyal has joined the MSME department as an Assistant Professor.<img src="{{site.baseurl}}/assets/images/new_3.gif"></a></div>
          </li>
        
          <li>
            <div class="right_text"><a href="" target="_blank">Dr. Piyush Vijay Jagtap has joined the MSME department as an Assistant Professor.<img src="{{site.baseurl}}/assets/images/new_3.gif"></a></div>
          </li>
        
          <li>
            <div class="right_text"><a href="" target="_blank">Dr. Tata Narasinga Rao has joined the MSME department as an Adjunct professor.<img src="{{site.baseurl}}/assets/images/new_3.gif"></a></div>
          </li>
        
          <li>
            <div class="right_text"><a href="" target="_blank">Prof. Bhanu Sankara Rao has joined the MSME department as an Adjunct professor.</a></div>
          </li>
        
          <li>
            <div class="right_text"><a href="" target="_blank">Dr. Ashok K. has joined as an Assistant professor.</a></div>
          </li>
        
          <li>
            <div class="right_text"><a href="/assets/docs/MSME_PhD_admissions_Dec_2021.pdf" target="_blank">Provisionally selected candidates for Ph.D. program December 2021 (Click Here)</a></div>
          </li>
        </ul> -->
      </div>
</article>

<!-- <h2 style="text-align: center;">Research highlights</h2>

<div class="row">
  {% for Rhigh in site.data.resch_high %}
  <div class="large-4 columns">
    <a href="{{ Rhigh.profileLink }}"> <img class="reschHigh-img" src="..{{ Rhigh.img }}" alt="Picture of the Faculty Member"> </a>
    <a href="{{ Rhigh.profileLink }}" class="reschHigh-link"><h3>{{ Rhigh.name }}</h3></a>
    <h5><strong>Faculty:</strong>{{ Rhigh.Faculty }}</h5>
    <h5><strong>Details:</strong> {{ Rhigh.detail }}</h5>
    <h5><strong><a href="{{ Rhigh.profileLink }}" target="_blank" class="faculty-link">Link</a></strong></h5> -->
  <!-- </div>
    {% if forloop.index == 3 %}
    {% break %}
    {% endif %}
  {% endfor  %} -->
<!--   
</div> -->



<!-- <p>Last updated on</p>{% last_modified_at %}  -->


