---
title: "Facilities"
layout: page-fullwidth
header:
    title: MATERIALS SCIENCE & METALLURGICAL ENGINEERING
    image_fullwidth: msmeb2.jpg
display: true
permalink: "/Facilities/"
---

<img class="mySlides" src="/web/images/download2.png">

&nbsp;

<p style="color:brown;"> <a href="/web/assets/docs/facilities.pdf"> Research Facilities (Click Here)</a></p>

<div class="row">

    <!-- <button class="accordion"><h2>Synthesis and processing instruments</h2></button> -->
    <h2>Synthesis and processing instruments</h2>

    <div class="panel">
      <ul>
        {% for inst in site.data.inst_synProc %}
&nbsp;
                    <li><h3>{{ inst.name }}</h3>
                      {% if inst.email %}
                          <h4>Faculty incharge: {{inst.incharge}} ({{inst.email}}@msme.iith.ac.in)</h4>
                      {% endif %}</li>
                      &nbsp;
        {% endfor %}
      </ul>
</div>
</div>

<div class="row">

    <!-- <button class="accordion"><h2>Furnaces</h2></button> -->
    <h2>Furnaces</h2>

    <div class="panel">
      <ul>
        {% for fur in site.data.inst_fur %}
        &nbsp;
                    <li><h3>{{ fur.name }}</h3>
                      {% if fur.email %}
                          <h4>Faculty incharge: {{fur.incharge}} ({{fur.email}}@msme.iith.ac.in)</h4>
                      {% endif %}</li>
                      &nbsp;
        {% endfor %}
      </ul>
    </div>
    </div>

    <div class="row">

        <!-- <button class="accordion"><h2>Functional properties characterization</h2></button> -->
        <h2>Functional properties characterization</h2>

        <div class="panel">
          <ul>
            {% for funchar in site.data.inst_funchar %}
            &nbsp;
                        <li><h3>{{ funchar.name }}</h3>
                        {% if funchar.email %}
                            <h4>Faculty incharge: {{funchar.incharge}} ({{funchar.email}}@msme.iith.ac.in)</h4>
                        {% endif %}</li>
                        &nbsp;
            {% endfor %}
          </ul>
        </div>
        </div>


        <div class="row">

            <!-- <button class="accordion"><h2>Microstructure and mechanical property analysis</h2></button> -->
            <h2>Microstructure and mechanical property analysis</h2>

            <div class="panel">
              <ul>
                {% for instmech in site.data.inst_mechchar %}
                &nbsp;
                            <li><h3>{{ instmech.name }}</h3>
                              {% if instmech.email %}
                                  <h4>Faculty incharge: {{instmech.incharge}} ({{instmech.email}}@msme.iith.ac.in)</h4>
                              {% endif %}</li>
                              &nbsp;
                {% endfor %}
              </ul>

            </div>
            </div>
